[submodule "models/salma"]
	path = models/salma
	url = git@github.com:amathislab/VideoMAEdev.git
	branch = salma
[submodule "models/CLIP4Clip"]
	path = models/CLIP4Clip
	url = https://github.com/ArrowLuo/CLIP4Clip.git
[submodule "models/GRAM"]
	path = models/GRAM
	url = https://github.com/ispamm/GRAM.git
[submodule "models/InternVideo"]
	path = models/InternVideo
	url = https://github.com/OpenGVLab/InternVideo.git
